
////////////////////////////////////////
//	Classes
////////////////////////////////////////

.cover
	background:
		repeat: no-repeat 
		position: center center
		size: cover

.icon-left
	margin-right: 10px



////////////////////////////////////////
//	Other 
////////////////////////////////////////

input[type=submit]
	cursor: pointer