
////////////////////////////////////////
//	Hero
////////////////////////////////////////

#hero
	padding: 100px 0
	margin-bottom: 20px
	text-align: center
	background-image: url(https://media4.s-nbcnews.com/i/newscms/2017_15/1206946/grilled-cheese-ham-today-170411-tease_2b8383ef006f363558f25c8c168ecbc9.jpg)

	h1
		color: #fff
		text-transform: uppercase
		font-family: 'Just Another Hand'
		text-shadow: 0 0 40px black



